<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head th:insert="links :: header_links">
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<meta name="google" content="notranslate">
<title></title>

</head>

<body>



	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container">
			<a class="navbar-brand"><img alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto" id="headerContainerMenu">

				</ul>
			</div>
		</div>
	</nav>

<!-- Page Content -->
  <div class="containes">

    <div class="rows">
      <div class="col-md-6 text-center box-logo">
          <h1>Logo</h1>
          <span>Let us help you connect your business to the word</span>
      </div>
      <div class="col-md-6 ">
        <div id="panel-new-d">
        	<div class="panel panel-default">
              <div class="panel-body margin-box">
                <h4>Recover your account</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label>Enter a code that as been sent to your email</label>
                        </div>
                        <br><br>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control code" placeholder="Code" id="code" name="code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control newPassword" placeholder="New password" id="newPassword" name="newPassword">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default"><b>Continue</b></button>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
     
    </div>
    <!-- /.row -->

	<!-- Footer -->
	<footer class="py-2 bg-dark navbar-fixed-botton">
		<div class="container">
			<div class="row"></div>
		</div>
		<!-- /.container -->
	</footer>

	<span th:insert="links :: footer_links"></span>
	<script th:src="@{js/home.js}"></script>
	

</body>

</html>