<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head th:insert="links :: header_links">
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<meta name="google" content="notranslate">
<title></title>

</head>

<body>



	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container">
			<a class="navbar-brand"><img alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto" id="headerContainerMenu">

				</ul>
			</div>
		</div>
	</nav>

<!-- Page Content -->
  <div class="containes">

    <div class="rows">
      <div class="col-md-6 text-center box-logo">
          <h1>Logo</h1>
          <span>Let us help you connect your business to the word</span>
      </div>
      <div class="col-md-6 ">
        <div id="panel-new-d">
          <div class="panel panel-default">
              <div class="panel-body margin-box">
                <h5>Choose option:</h5>
                <br>
                <div class="container">
                    <div class="row box-fildset-1">
                        <div class="col-md-6">
                            <fieldset>
                                <legend class="text-center">Basic</legend>
                                <div class="box-inner"><label>Feature</label></div>
                                <div class="box-inner"><label>Feature</label></div>
                                <div class="box-inner"><label>Feature</label></div>
                                <div class="price"><label>Price: free</label></div>
                            </fieldset>
                            <div class="text-center btn-continue"><button class="btn btn-default"><b>Continue</b></button></div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend class="text-center">Standard</legend>
                                <div class="box-inner"><label>Feature</label></div>
                                <div class="box-inner"><label>Feature</label></div>
                                <div class="box-inner"><label>Feature</label></div>
                                <div class="price"><label>Price: $1.99/mo</label></div>
                            </fieldset>
                            <div class="text-center btn-continue"><button class="btn btn-default"><b>Continue</b></button></div>
                        </div>
                    </div>
                    <div class="row box-fildset-2">
                        <div class="col-md-12">
                            <div class="fieldset">
                                <fieldset>
                                    <legend>selected option</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control firstName" placeholder="First name" id="firstName" name="firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control lastName" placeholder="Last name" id="lastName" name="lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control email" placeholder="E-mail" id="email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="password" class="form-control password" placeholder="Password" id="password" name="password">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label><b>Gender</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="barra"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        Female <input type="radio" name="gender" id="optionsRadios1" value="Female" checked="">
                                                    </label>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        Female <input type="radio" name="gender" id="optionsRadios2" value="Female">
                                                    </label>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        Other <input type="radio" name="gender" id="optionsRadios3" value="Female" >
                                                    </label>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="text-center btn-continue-1"><button class="btn btn-default"><b>Continue</b></button></div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
     
    </div>
    <!-- /.row -->

	<!-- Footer -->
	<footer class="py-2 bg-dark navbar-fixed-botton">
		<div class="container">
			<div class="row"></div>
		</div>
		<!-- /.container -->
	</footer>

	<span th:insert="links :: footer_links"></span>
	<script th:src="@{js/home.js}"></script>
	

</body>

</html>